<div id="event_detail_container">
  <div class="close"><u><i>close</i></u></div>
  <form>
    <table>
      <tr>
        <th style="text-align: left;">Date:</th>
        <td style="text-align: left;">{{Start_Date}}</td>
      </tr>
      <tr>
        <th style="text-align: left;">Type:</th>
        <td style="text-align: left;">{{Event_Type}}</td>
      </tr>
      <tr>
        <th style="text-align: left:">Name:</th>
        <td style="text-align: left;">{{Event_Name}}</td>
      </tr>
      <tr>
        <th style="text-align: left:">Info:</th>
        <td style="text-align: left;">{{Event_Info}}</td>
      </tr>
      <tr>
        <th style="text-align: left:">Location:</th>
        <td style="text-align: left;">{{Location}}</td>
      </tr>
    </table>

  </form> 
 </div>
