
  <li data-id="{{this.id}}" class="list-group-item">
            <b>Task:</b> {{Todo_Name}}
            <br /> <b>Date:</b> {{Todo_Date}}
            <br /> <b>Info:</b> {{Todo_Info}}
            <br /> <b>Location:</b> {{Todo_Location}}
  </li>

