<li data-id="{{this.id}}" class="list-group-item">
            Event Name: {{Event_Name}}
            &nbsp; Start Date: {{Start_Date}}
            &nbsp; Event Info: {{Event_Info}}
            &nbsp; Location: {{Location}}
            &nbsp; Event Type: {{Event_Type}}
            &nbsp; For_Whom: {{For_Whom}}
</li>
