<li data-id="{{this.id}}" 
    class = "list-group-item C"
>
                {{Start_Date}} - {{Event_Name}}
                <br>
                {{Event_Type}} - {{Location}}
                {{Event_Info}}
</li>
